/* TodoSearch */
.TodoSearch > input{
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid #e0e0e0;
  padding: 10px;
  font-size: 1.2rem;
}

.TodoSearch > input:focus{
 outline: 1px solid rgb(35, 209, 35);
}