.modal{
  display: flex;
  align-items: center;  
  justify-items: center;
  justify-content: center;

  position: fixed;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;

  background-color: rgba(30, 30, 30, 0.653);
  color: white;
}

.cancel-icon{
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 50px;
  cursor: pointer;
}

.cancel-icon:hover{
  color: rgb(255, 85, 85);
}